@font-face {
  font-family: "SegoeUI-Light";
  src: url("SegoeUI-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SegoeUILight";
  src: url("SegoeUILight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}